.jumbotron {
    text-align: center;
    background-color: blue;
    color: white;

}
.city {
    height: 250px;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    border-radius: 5px;
}

#cityName {
    border: 2px solid;
    text-align: center;
    background-color: lightskyblue;
}

.inputSection {
    justify-items: center;
   
}


.days {
    margin: auto;
    padding-bottom: 45px;
    border: solid 2px;
    border-radius: 5px;
}

#day {
    font-weight: bolder;
}

input {
    padding: 10px;
}

button {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: lightblue;
    font-size: 20px;
}

#searchCityText {
   font-size: 25px;
    margin-top: 15px;
    
}